.magic-word-header {
    color: #565656;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.radio-btn-group {
    width: 200px;
    margin: 0 auto 50px auto;
}

.radio-btn-text {
    width: 15px;
    height: 15px;
}

.radio-btn-alert {
    width: 15px;
    height: 15px;
    margin-left: 30px;
}

.input-magic-word {
    height: 30px;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
}

.input-magic-word:focus {
    outline: none;
}

.btn-word-check {
    color: #272626;
    background-color: #26c6f1ed;
    height: 30px;
    width: 125px;
    border-radius: 15px;
    border-color: #26c6f1ed;
    margin-top: 5px;
    transition-duration: 0.4s;
}

.btn-word-check:hover {
    background-color: #1fa2c5ed;
    box-shadow: 0px 0px 5px #797676;
}

.magic-message {
    font-size: 35px;
    color: #59f533;
    margin-top: 40px;
}

.wrong-message {
    margin-top: 10px;
    color: #ff5555;
}