.stock-data-header {
    color: #565656;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.btn-data-change {
    color: #272626;
    background-color: #26c6f1ed;
    height: 30px;
    width: 125px;
    border-radius: 15px;
    border-color: #26c6f1ed;
    margin-top: 5px;
    transition-duration: 0.4s;
}

.btn-data-change:hover {
    background-color: #1fa2c5ed;
    box-shadow: 0px 0px 5px #797676;
}

.stock-data-table {
    margin-top: 20px;
}

.stock-data-table table {
    margin: 0 auto;
}

.stock-data-table th {
    height: 30px;
    width: 120px;
}

.stock-data-table th {
    height: 30px;
    width: 120px;
}

.table-title-columns {
    background-color: #c3c2c2;
}

.table-columns {
    background-color: #e4e4e4;
}