body {
  background-color: #e0a11e0f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-task-1 {
  position: absolute;
  left: 15%;
  top: 2%;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid;
  background-color: #505050;
  color: white;
}

.btn-task-2 {
  position: absolute;
  right: 15%;
  top: 2%;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid;
  background-color: #505050;
  color: white;
}

.btn-task-1:hover, .btn-task-2:hover {
  color: black;
  background-color: #e4e4e4;
  box-shadow: 0px 0px 5px #797676;
}